{#
/**
 * @file
 * Easy Layouts: Base wrapper for all elements.
 *
 * Available wrapper variables:
 * - is_editing: set to true if user is editing layout.
 * - settings: array of layout settings which contain the following:
 *   - wrapper: wrapper settings which contain the following:
 *     - enabled: set to true if element is enabled.
 *     - element: element to be used in the wrapper
 *     - attributes: element attributes.
 *   - container: container setting which contain same items as wrapper.
 *   - row: row setting which contain same items as wrapper.
 *   - col: column setting which contain same items as wrapper.
 */
#}

{% if settings.wrapper.enabled %}
  <{{ settings.wrapper.element }}{{ settings.wrapper.attributes }}>
{% endif %}

  {% if settings.container.enabled %}
    <{{ settings.container.element }}{{ settings.container.attributes }}>
  {% endif %}

    {% if settings.row.enabled %}
      <{{ settings.row.element }}{{ settings.row.attributes }}>
    {% endif %}

      {% block content %} {% endblock %}

    {% if settings.row.enabled %}
      </{{ settings.row.element }}>
    {% endif %}

  {% if settings.container.enabled %}
    </{{ settings.container.element }}>
  {% endif %}

{% if settings.wrapper.enabled %}
  </{{ settings.wrapper.element }}>
{% endif %}
