{#
/**
 * @file
 * Easy Layouts: Column template.
 *
 * Available wrapper variables:
 * - is_editing: set to true if user is editing layout.
 * - region: the region of column.
 * - content:  column content.
 * - settings: array of layout settings which contain the following:
 *   - column: wrapper settings which contain the following:
 *     - enabled: set to true if element is enabled.
 *     - element: element to be used in the wrapper
 *     - attributes: element attributes.
 */
#}
{% if settings.column.enabled %}
  <{{ settings.column.element }} {{ settings.column.attributes }}>
{% endif %}

  {% if is_editing %}
    <div{{ attributes }}>
      <div {{ region_attributes[region].addClass(region ~ '-region') }}>
  {% endif %}

  {{ content }}

  {% if is_editing %}
      </div>
    </div>
  {% endif %}

{% if settings.column.enabled %}
  </{{ settings.column.element }}>
{% endif %}
