{#
/**
 * @file
 * Easy Layouts: "3 Column" template.
 *
 * @see easy-layouts-base-wrapper.html.twig for available variables.
 */
#}

{% extends '@easy_layouts/layouts/shared/easy-layouts-base-wrapper.html.twig' %}

{% block content %}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_1,
    region: 'col_1',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_2,
    region: 'col_2',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_3,
    region: 'col_3',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_4,
    region: 'col_4',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_5,
    region: 'col_5',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_6,
    region: 'col_6',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_7,
    region: 'col_7',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_8,
    region: 'col_8',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_9,
    region: 'col_9',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_10,
    region: 'col_10',
    is_editing: is_editing
  }%}

  {% include '@easy_layouts/layouts/shared/easy-layouts-column.html.twig' with {
    settings: settings,
    content: content.col_11,
    region: 'col_11',
    is_editing: is_editing
  }%}

{% endblock %}
